

h1{
    color: #3DB2FF;
    text-align: center;
    
}

h2{
    color:#93D9A3;
   
}

h5{
    color:#C85C5C;
   font-weight: bold;
}

h3{
font-size: 20px;
color: #F9975D;
}

p{
font-size: 20px;
color: #1EAE98;
}

/* section{
border-style: dotted;
border-color: #C85C5C;
} */

#navbar{
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );}

#main{
    background: rgba( 96, 156, 218, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#one, #two, #three{
  width: 30%;
}
.card-body{
  flex-basis: 30%;
}

#registrationform{
      display: flex;
    flex-direction: column;
    align-items: center;
}