body {
	background-color: #e18d96;
}

.yellow-d {
	color: #efc458;
}
.yellow-l {
	background-color: #f8e4b9;
}
.blue-d {
	color: #1c4755;
}
.blue-l {
	background-color: #9eaeb5;
}
.green-d {
	color: #00a08f;
}
.green-l {
	background-color: #a4d5ce;
}
.orange-d {
	color: #ff9f52;
}
.orange-l {
	background-color: #ffd5b6;
}
/* .red-d {
	color: #f66747;
} */
.green-ddd {
	color: #005245;
}
.green-dd {
	color: #006b5d;
}
/* .red-l {
	background-color: #febdb0;
} */

h1 {
	color: #3db2ff;
	text-align: center;
}

h2 {
	color: #909090;
}

h5 {
	color: #e18d96;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	color: #f9975d;
}

p {
	font-size: 20px;
	color: #1eae98;
}

section {
	border-style: dotted;
	border-color: #c85c5c;
}

/* #navbar {
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
} */

#main {
	background: rgba(96, 156, 218, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
#one,
#two,
#three {
	width: 30%;
}
.card-body {
	flex-basis: 30%;
}

#registrationform {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile {
	width: 20%;
	border-radius: 20px;
}

.footer {
	padding: 4rem;
	background-image: url(./img/testing.png);
	z-index: -1;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: none;
}

.bg-test {
	--bs-bg-opacity: 0.8;
	background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
