

h1{
    color: #C85C5C;
    text-align: center;
}

h2{
    color:#C85C5C;
   
}

h5{
    color:#C85C5C;
   font-weight: bold;
}

h3{
font-size: 20px;
color: #B2EA70;
}

p{
font-size: 20px;
color: #B2EA70;
}

/* section{
border-style: dotted;
border-color: #C85C5C;
} */